@import "colors";
@import "media-queries";

$full-width: 100%;

* {
    font-family: sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
}

header {
    padding: 20px 20px 0px 20px;
    min-height: 65px;
    background: $primary-color;
}

#mainImage {
    width: $full-width;
}

.background-image {
    background-image: url("../images/bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: $full-width;
    padding-top: 10%;
}

.dialog-style {
    height: 200px;
}

.position-center {
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

footer {
    background-color: $secondary-color;
    bottom: 0;
    position: static;
    width: $full-width;
    display: flex;
    height: 150px;
    text-align: center;
    @extend .position-center;
}

.display-flex {
    display: flex;
}

%btn {
    width: 100px;
    border: 2px solid $primary-color;

    &:hover {
        transform: scale(0.98);
    }
}

@function set-background($color) {
    @if ($color == $primary-color) {
        @return darken($secondary-color, 30%);
    } @else {
        @return lighten($primary-color, 20%);
    }
}

.btn-secondary {
    @extend %btn;
    background-color: $secondary-color;
    &:hover {
        background-color: set-background($secondary-color);
    }
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;
    &:hover {
        background-color: set-background($primary-color);
    }
}

.section {
    min-height: 80vh;
    margin-bottom: 10px;
    padding: 50px 100px 50px 100px;
    background-color: $primary-color;
}

.font-base {
    color: $color-white;
    font-size: 4vw;
}

.margin-top-30-percents {
    margin-top: 30%;
}

.font-title {
    font-size: 5.8vw;
    color: $primary-color;
    text-shadow: 2px 2px $color-white;
}

h1 {
    color: $secondary-color;
}

#home {
    padding-left: 100px;
}

p {
    color: $color-white;
}

.circle-parent {
    background: $primary-color;
    padding-left: 100px;
}
.circle {
    background: $secondary-color;
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    text-align: center;
    transition: width 1s;
    &:hover {
        width: 60vw;
    }
}

.display-grid {
    display: grid;
    position: relative;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: $secondary-color;
}

html {
    scrollbar-color: $secondary-color $color-white;
}

.technology {
    @extend .display-grid;
    color: $color-white;
}

progress {
    border: none;
    height: 10px;
    width: 50%;
    margin-bottom: 10px;
}

.image-container {
    position: relative;
    text-align: center;
    // height: 200px;
    overflow: hidden;
    // width: 30%;
    display: inline-block;
}

img {
    width: 340px;
    height: 175px;
    opacity: 0.6;
    margin-right: 10px;
    transition: transform 0.25s, visibility 0.25s ease-in;
    &:hover {
        opacity: 1;
        cursor: pointer;
        color: black;
        transform: scale(1.1);
    }
    &:hover + .hide {
        display: block;
    }
}

.center-button {
    position: absolute;
    top: 45%;
    left: 50%;
    border-radius: 50%;
    border: 0px !important;
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
    color: $color-white;
    background-color: $secondary-color;
}

progress::-webkit-progress-value {
    background: $secondary-color !important ;
}
progress::-moz-progress-bar {
    background: $secondary-color !important ;
}
progress::-webkit-progress-bar {
    background: $color-white;
}

.hide {
    display: none;
    &:hover {
        display: block;
        cursor: pointer;
    }
}

@include phone {
    .sircle-parent {
        position: relative;
    }
    .section,
    .circle-parent,
    #home {
        padding: 20px;
    }
    .circle {
        height: 70vw;
        width: 70vw;
    }
    .font-base {
        font-size: 6vw;
    }
    .font-title {
        font-size: 9vw;
    }
    .projects {
        display: grid;
    }
    // .image-container {
    //     width: 100%;
    // }
}

@include tablet {
    .projects {
        display: grid;
    }
    // .image-container {
    //     width: 100%;
    // }
}

.topnav {
    overflow: hidden;
    float: right;
    display: block;
}

.topnav a {
    color: $secondary-color;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.2s ease-out;
    &:hover {
        transform: scale(1.05);
        font-size: 1.6rem;
        color: $color-white;
    }
}

.topnav .icon {
    display: none;
}

.project-info {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.project-content {
    background-color: $primary-color;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 85%;
    height: auto;
    img {
        opacity: 1;
        margin: 5px;
    }
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: $primary-color;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        margin-right: 40px;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        // text-align: center;
    }
    .project-content {
        width: 90%;
    }
}
